<table class="table mt-2">
    <thead class="table-dark" >
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Departamento</th>
        <th scope="col">Candidato</th>
        <th scope="col">Votos</th>
      </tr>
    </thead>
    <tbody *ngFor="let CandidatoItem of CandidatoItem">
      <tr>
        <td>{{ CandidatoItem.Id }}</td>
        <td>{{ CandidatoItem.Departamento }}</td>
        <td>{{ CandidatoItem.Candidato }}</td>
        <td>{{ CandidatoItem.Votos }}</td>
      </tr>
    </tbody>
  </table>

