<table class="table mt-2">
    <thead class="table-dark" >
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Departamento</th>
        <th scope="col">Candidato</th>
        <th scope="col">Votos</th>
      </tr>
    </thead>
    <tbody *ngFor="let blogItem of blogItems">
      <tr>
        <td>{{ blogItem.Id }}</td>
        <td>{{ blogItem.Departamento }}</td>
        <td>{{ blogItem.Candidato }}</td>
        <td>{{ blogItem.Votos }}</td>
      </tr>
    </tbody>
  </table>






  